@keyframes float {

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-18px);
    }

    100%{
        transform:translateY(0px);
    }
}

.float{

    animation:
        float
        5s
        ease-in-out
        infinite;
}

@keyframes pop {

    0%{
        transform:scale(.9);
    }

    60%{
        transform:scale(1.05);
    }

    100%{
        transform:scale(1);
    }
}

.pop{

    animation:
        pop
        .5s;
}
.reveal{
    opacity:0;
    transform:translateY(30px);
    transition:0.8s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}